<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mainKey</key>
		<string>母乳</string>
		<key>subKey</key>
		<string></string>
		<key>unit</key>
		<string>次数/日</string>
		<key>realValue</key>
		<integer>3</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>10</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>牛奶</string>
		<key>subKey</key>
		<string></string>
		<key>unit</key>
		<string>毫升/日</string>
		<key>realValue</key>
		<integer>50</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>奶粉</string>
		<key>subKey</key>
		<string></string>
		<key>unit</key>
		<string>毫升/日</string>
		<key>realValue</key>
		<integer>30</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>粮谷类</string>
		<key>subKey</key>
		<string>米粉</string>
		<key>unit</key>
		<string>克/日</string>
		<key>realValue</key>
		<integer>70</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>粮谷类</string>
		<key>subKey</key>
		<string>面食</string>
		<key>unit</key>
		<string>克/日</string>
		<key>realValue</key>
		<integer>90</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>粮谷类</string>
		<key>subKey</key>
		<string>粥</string>
		<key>unit</key>
		<string>克/日</string>
		<key>realValue</key>
		<integer>10</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>mainKey</key>
		<string>粮谷类</string>
		<key>subKey</key>
		<string>饭</string>
		<key>unit</key>
		<string>克/日</string>
		<key>realValue</key>
		<integer>75</integer>
		<key>minimumValue</key>
		<integer>0</integer>
		<key>maximumValue</key>
		<integer>100</integer>
		<key>fractionDigits</key>
		<integer>0</integer>
		<key>colorSections</key>
		<array>
			<integer>20</integer>
			<integer>40</integer>
			<integer>60</integer>
			<integer>80</integer>
		</array>
	</dict>
</array>
</plist>
