<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cellStyle</key>
			<integer>1</integer>
			<key>title</key>
			<string>母乳</string>
			<key>options</key>
			<array>
				<string>多</string>
				<string>中</string>
				<string>少</string>
			</array>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>母乳</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>次数/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>3</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>2</integer>
				<key>warningLessValue</key>
				<integer>4</integer>
				<key>normalValue</key>
				<integer>6</integer>
				<key>warningMoreValue</key>
				<integer>8</integer>
				<key>maximumValue</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>牛奶</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>毫升/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>50</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>奶粉</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>毫升/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>30</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>粮谷类</string>
			<key>subKey</key>
			<string>米粉</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>10</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>粮谷类</string>
			<key>subKey</key>
			<string>面食</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>50</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>粮谷类</string>
			<key>subKey</key>
			<string>粥</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>30</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>粮谷类</string>
			<key>subKey</key>
			<string>饭</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>50</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>荤菜（鱼肉肝）</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>35</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>全蛋或蛋黄</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>只/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>55</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>豆制品</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>85</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>蔬菜</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>34</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>水果</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>只/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>65</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>维生素AD</string>
			<key>subKey</key>
			<string>剂量</string>
			<key>unit</key>
			<string>粒/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>15</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>钙</string>
			<key>subKey</key>
			<string>剂量</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>45</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>cellStyle</key>
			<integer>0</integer>
			<key>mainKey</key>
			<string>水</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>毫升/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>95</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
