<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>mainKey</key>
			<string>母乳</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string></string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<true/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>0</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>1</integer>
				<key>warningLessValue</key>
				<integer>0</integer>
				<key>normalValue</key>
				<integer>2</integer>
				<key>warningMoreValue</key>
				<integer>0</integer>
				<key>maximumValue</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>母乳</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>次数/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>3</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>2</integer>
				<key>warningLessValue</key>
				<integer>4</integer>
				<key>normalValue</key>
				<integer>6</integer>
				<key>warningMoreValue</key>
				<integer>8</integer>
				<key>maximumValue</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
	<array>
		<dict>
			<key>mainKey</key>
			<string>牛奶</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>毫升/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>50</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>奶粉</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>毫升/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>30</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>粮谷类</string>
			<key>subKey</key>
			<string>米粉</string>
			<key>unit</key>
			<string>克/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>10</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>20</integer>
				<key>warningLessValue</key>
				<integer>40</integer>
				<key>normalValue</key>
				<integer>60</integer>
				<key>warningMoreValue</key>
				<integer>80</integer>
				<key>maximumValue</key>
				<integer>100</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
