<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>mainKey</key>
			<string>食欲</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string></string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<true/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>0</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>1</integer>
				<key>warningLessValue</key>
				<integer>0</integer>
				<key>normalValue</key>
				<integer>2</integer>
				<key>warningMoreValue</key>
				<integer>0</integer>
				<key>maximumValue</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>汗多、烦躁或夜惊</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string></string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<true/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>0</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>1</integer>
				<key>warningLessValue</key>
				<integer>0</integer>
				<key>normalValue</key>
				<integer>2</integer>
				<key>warningMoreValue</key>
				<integer>0</integer>
				<key>maximumValue</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>睡眠</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>小时/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>3</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>2</integer>
				<key>warningLessValue</key>
				<integer>4</integer>
				<key>normalValue</key>
				<integer>6</integer>
				<key>warningMoreValue</key>
				<integer>8</integer>
				<key>maximumValue</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>户外活动</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>小时/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>3</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>2</integer>
				<key>warningLessValue</key>
				<integer>4</integer>
				<key>normalValue</key>
				<integer>6</integer>
				<key>warningMoreValue</key>
				<integer>8</integer>
				<key>maximumValue</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>mainKey</key>
			<string>大便次数</string>
			<key>subKey</key>
			<string></string>
			<key>unit</key>
			<string>次/日</string>
			<key>fractionDigits</key>
			<integer>0</integer>
			<key>custom</key>
			<false/>
			<key>recordValue</key>
			<dict>
				<key>realValue</key>
				<integer>3</integer>
				<key>minimumValue</key>
				<integer>0</integer>
				<key>dangerLessValue</key>
				<integer>2</integer>
				<key>warningLessValue</key>
				<integer>4</integer>
				<key>normalValue</key>
				<integer>6</integer>
				<key>warningMoreValue</key>
				<integer>8</integer>
				<key>maximumValue</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
